---
import "bootstrap-icons/font/bootstrap-icons.css";
---

<header class="w-full px-24 h-auto">
  <div class="header_arriba flex gap-x-5 items-center">
    <img
      src="https://fundacionalbertomarvelli.org/wp-content/uploads/2022/05/logo-sin-fondo.png"
      alt="Logo"
      class="logo_bosco"
    />
    <div class="flex gap-x-7">
      <div class="flex gap-x-1 items-center">
        <a href="mailto:info@fundacionalbertomarvelli.org" class="flex gap-2">
          <i class="bi bi-envelope text-3xl flex items-center"></i>
        <p class="text-lg">info@fundacionalbertomarvelli.org</p>
        </a>
      </div>
      <div class="flex items-center gap-4">
        <i class="bi bi-telephone text-3xl"></i>
        <p class="text-lg">+502 2209-9999</p>
      </div>
      <div class="flex gap-x-2 text-3xl items-center">
        <a href="https://www.facebook.com/CFP.AMBROSIO"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/cfpbartolomeambrosio/"><i class="bi bi-instagram"></i></a>
      </div>
      <button
        class="bg-red-600 text-white flex items-center justify-center gap-x-2 p-2 px-8"
        ><p class="text-2xl">Dona hoy</p>
        <i class="bi bi-heart text-2xl"></i></button
      >
    </div>
  </div>

  <nav class="flex gap-x-0.5 navegacion_abajo font-bold text-xl">
    <a href="#" class="underline underline-offset-4">Inicio</a>
    <a href="#">Nosotros</a>
    <a href="#">Vida en CFP</a>
    <a href="#">Enlaces</a>
    <a href="#">Contacto</a>
  </nav>
</header>

<main>
  <section></section>
</main>

<style>
  .logo_bosco {
    width: 300px;
    height: 120px;
  }

  header {
    height: 150px;
  }
  .header_arriba > div {
    display: flex;
  }

  .header_arriba > div > div {
    display: flex;
  }

  .navegacion_abajo > a {
    background-color: #f7b516;
    height: 34px;
    width: 100%;
    text-align: center;
  }
</style>
