---
import "bootstrap-icons/font/bootstrap-icons.css";
---



<main class="mt-4">
  <div>
    <section class="cambios_imagen w-full overflow-hidden">
      <div class="w-full h-full bg-blue-400">
        <ul class="flex justify-center  items-end gap-4 w-full h-full pb-16">
          <li class="cursor-pointer	 w-9 h-9 bg-yellow-500 rounded-full "></li>
          <li class="cursor-pointer	 w-9 h-9 opacity-50 bg-yellow-500 rounded-full"></li>
          <li class="cursor-pointer	 w-9 h-9 opacity-50 bg-yellow-500 rounded-full"></li>
        </ul>
      </div>
      <div class="w-full h-full bg-blue-700">
        <ul class="flex justify-center  items-end gap-4 w-full h-full pb-16">
          <li class="cursor-pointer	 w-9 h-9 opacity-50 bg-yellow-500 rounded-full "></li>
          <li class="cursor-pointer	 w-9 h-9  bg-yellow-500 rounded-full"></li>
          <li class="cursor-pointer	 w-9 h-9 opacity-50 bg-yellow-500 rounded-full"></li>
        </ul>
      </div>
      <div class="w-full h-full bg-blue-900">
        <ul class="flex justify-center  items-end gap-4 w-full h-full pb-16">
          <li class="cursor-pointer	 w-9 h-9 opacity-50 bg-yellow-500 rounded-full "></li>
          <li class="cursor-pointer	 w-9 h-9 opacity-50 bg-yellow-500 rounded-full"></li>
          <li class="cursor-pointer	 w-9 h-9  bg-yellow-500 rounded-full"></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="w-full h-auto pt-24">
    <div class="w-full flex gap-2 text-6xl font-bold px-3">
      <p>	Capacítate y Prepárate para un mejor</p><p class="text-red-600">FUTURO</p>
    </div>

    <div class="w-full mt-20 flex  flex-col gap-2 ">
      <div class="w-full h-auto flex justify-center items-center gap-x-5 ">
        <div class="shadow- xl w-96 h-72 pl-6 flex justify-center gap-y-3 flex-col bg-yellow-500 font-bold agrandar  ">
            <p>Carreras Técnicas</p>
            <p class="text-4xl">Estudia con nosotros</p>
            <button class="bg-white rounded-xl w-1/3 text-2xl py-2">Ver más</button>
        </div>

        <div class="shadow- xl w-96 h-72 pl-6 flex justify-center gap-y-3 flex-col bg-yellow-500 font-bold hover: agrandar h-80">
            <p>Apoya a Nuestro fondo Becas</p>
            <p class="text-4xl">Estudia con nosotros</p>
            <button class="bg-white rounded-xl w-1/3 text-2xl py-2">Ver más</button>
        </div>

        <div class="shadow- xl w-96 h-72 pl-6 flex justify-center gap-y-3 flex-col bg-yellow-500 font-bold hover: agrandar h-80">
            <p>Inscribete hoy mismo</p>
            <p class="text-4xl">Inscripciones 2024</p>
            <button class="bg-white rounded-xl w-1/3 text-2xl py-2">Ver más</button>
        </div>

      </div>
      <div class="w-full h-auto flex justify-center items-center gap-x-5" >
        <div class="shadow- xl w-96 h-72 pl-6 flex justify-center gap-y-3 flex-col  bg-yellow-500 font-bold hover: agrandar h-80">
            <p>Conocenos</p>
            <p class="text-4xl">Acerca de Nosotros</p>
            <button class="bg-white rounded-xl w-1/3 text-2xl py-2">Ver más</button>
        </div>

        <div class="shadow- xl w-96 h-72 pl-6 flex justify-center gap-y-3 flex-col bg-yellow-500 font-bold hover: agrandar h-80">
            <p>Participa</p>
            <p class="text-2xl">GRAN RIFA SALESIANA 2024</p>
            <button class="bg-white rounded-xl w-1/3 text-2xl py-2">Ver más</button>
        </div>

        <div class="shadow- xl w-96 h-72 pl-6 flex justify-center gap-y-3 flex-col bg-yellow-500 font-bold hover: agrandar h-80">
            <p>¿Tienes alguna duda?</p>
            <p class="text-4xl">Contáctanos</p>
            <button class="bg-white rounded-xl w-1/3 text-2xl py-2">Ver más</button>
        </div>

      </div>
    </div>
  </div>

  <div class="w-full h-96 bg-fuchsia-700">

    <div class="w-full h-full bg-red-600">
      <p>GRAN RIFA SALESIANA</p>
      <p>2024</p>
    </div>
    <div class="w-full h-full bg-red-500"><div></div>
    <div></div>
    <p>valor Q20</p>
</div>
    
    
  </div>
  
  
</main>



<style>
  .cambios_imagen{
    height: 680px;
  }

  .agrandar:hover{
    width: 500px;
    height: 384px;
  }

  .agrandar:hover button{
    padding-top: 20px;
    padding-bottom: 20px;
 
  }

  .agrandar:hover >p:first-child{
    font-size: 2rem;
 
  }

  .agrandar:hover >p:nth-child(2){
    font-size: 3rem;
 
  }

  .agrandar > p{
    word-spacing: -.1ch;
  }

  .agrandar, .agrandar>p, .agrandar button{
    transition: all 0.5s;
  }

  
</style>
