header{
    font-size: 3em;
    color: red;
}

nav{
    font-size: 2.5em;
    color: blue;
}

main{
    font-size: 2em;
    color: blueviolet;
}

section{
    font-size: 1.5em;
    color: brown;
}

article{
    font-size: 1em;
    color: aqua;
}


aside{
    font-size: 1.5em;
    color: brown;
}


footer{
    font-size: 4em;
    color: burlywood;
}