<div class="">
    <div class="absolute w-44 h-44 rounded-full bg-gray-300 z-20 left-32 top-28 flex  items-center flex-col ">
        <div class="w-10 h-1/6 bg-fuchsia-600"></div>
        <button class="border-2 border-bg-amber-50 w-5/6 h-5/6 rounded-full ">GIRAR</button>
    </div>
    <div class="relative w-96 h-96 bg-red-700 overflow-hidden rounded-full rotate-0 ml-5">
       <div class="w-full h-full flex flex-wrap">
        <div class="w-32 h-3/6 bg-red-200 static"></div>
        <div class="w-32 h-3/6 bg-red-300 static"></div>
        <div class="w-32 h-3/6 bg-red-200 static"></div>
        <div class="w-32 h-3/6 bg-red-300 static"></div>
        <div class="w-32 h-3/6 bg-red-200 static"></div>
        <div class="w-32 h-3/6 bg-red-300 static"></div>

       </div>
        
    </div>
</div>

