---
import Layout from '../layouts/Layout.astro';
import Expanding from '../components/ExpandingCard.astro'
--- 

<Layout title='Welcome to Atro'>
    <div class=" flex gap-2 h-screen w-full">
        <Expanding title='paisaje de guatemala', image=''>
        <Expanding title='paisaje de guatemala', image=''>
        <Expanding title='paisaje de guatemala', image=''>
        <Expanding title='paisaje de guatemala', image=''>
        <Expanding title='paisaje de guatemala', image=''>
    </div>
</Layout>

