*{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

li, div{
    color: white ;
}

body{
    background-color: black;
}

header{
    width: 100%;
    height: 80px;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
        
}

.parte_uno_productos{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parte_dos_productos{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 150px;
    height: 40px;
}

.todos_productos{
    font-weight: bolder;
    padding: 12px 12px 12px 12px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1em;
}

.parte_dos_productos .todos_productos:last-child{
    border: 2px solid white;
}

/* main */

.contenido_principal_uno{
    width: 100%;
    height: 500px;
    background: rgb(240,171,32);
    background: linear-gradient(45deg, rgba(240,171,32,1) 4%, rgba(240,95,84,1) 29%, rgba(238,96,90,1) 46%, rgba(235,60,85,1) 70%);
    display: flex;
    align-items: center; 
}

.imagen_grande{
    width: 100%;
    height: 100%;
}