*{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

div{
    color: white ;
}

body{
    background-color: black;
}

header{
    width: 100%;
    height: 75px;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
        
}

nav > div{
    margin-top: -0.4%;
}

.parte_uno_productos{
    width: 650px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parte_dos_productos{
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}



img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 150px;
    height: 40px;
}

.todos_productos{
    font-weight: bolder;
    padding: 12px 12px 12px 12px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 0.8em;
}

.parte_dos_productos .todos_productos:last-child{
    border: 2px solid white;
    width: 160px;
    height: 45px;
}

/* main */

.contenido_principal_uno{
    overflow: hidden;
    width: 100%;
    height: 500px;
    background: rgb(240,171,32);
    background: linear-gradient(45deg, rgba(240,171,32,1) 4%, rgba(240,95,84,1) 29%, rgba(238,96,90,1) 46%, rgba(235,60,85,1) 70%);
    display: flex;
    align-items: center; 
}

.imagen_grande{
    position: relative;
    width: 45%;
    height: 100%;
}

.imagen_fondo{
    position: absolute;
    width: 1200px;
    height: 800px; 
    filter: saturate(1000%);
    z-index: 0;
    top: -25%;
    left: -66%;
    
}

.imagen_frente{
    position: absolute;
    width: 400%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(45deg, rgba(240,171,32,0.5) 4%, rgba(240,95,84,0.5) 29%, rgba(238,96,90,0.5) 46%, rgba(235,60,85,0.5) 70%);;
}


.texto_botones{    
    margin-top: -10%;
    width: 600px;
    z-index: 3;
}
.texto_botones>div{
    margin-top: 5%;
}

.parte_uno_texto_botones{
    font-size: 2em;
}

.parte_tres_texto_botones > button{
    font-size: 1em;
    margin-left: 2%;
    width: 230px;
    height: 60px;
    background-color: black;
    color: white;
    border: none;
}

.parte_tres_texto_botones > button:last-child{
    background-color: transparent;
    border: 2px solid white;
}

/* parte abajo */
.contenido_principal_dos > div{
    margin-top: 100px;
    width: 360px;
    height: 240px;
    background-color: #1E1E1E;
}

.contenido_principal_dos > div:last-child{
    background-color:transparent;
    width: 500px;
}
.contenido_principal_dos{
    margin-left: 2%;
    display: grid;
    grid-template-columns: 20% 20% 80%;
    gap: 10%;
}

.logo_principal{
    width: 50px;
    height: 50px;
}

.curso{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

h3{
    color: #75254F;
}

.curso h3{
    margin-top: 20%;
}
.parte_uno{
    margin-top: 10px;
}

.take_look{
    margin-top: 50%;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 20px;
}

.texto_cursos{
    margin-left: 20px;
}

.popular > div:nth-child(2){
    width: 50%;
}
.popular > div{
    margin-top: 5%;
}


/* responsive */
@media screen and (max-width:768px) {
    nav{
        position: relative;
        overflow: hidden;
    }
    
    .logo{
        left: 0;
        position: absolute;
        background-color: red;
        width: 100%;
        height: 100%;
        top: 1%;
            
    }
    
    .logo img{
        margin-top: 1%;
        margin-left: 2%;
        width: 150px;
        height: 40px;
    }

    .logo_navegadores{
        position: absolute;
        z-index: -1;
    }

    .icono{
        z-index: 4;
        margin-left: 80%;
    }
    
    .parte_uno_texto_botones{
        width: 500px;
    }

    .parte_uno_texto_botones{
        font-size: 24px;
    }

    .texto_botones{
        margin-left: -20%;
    }

   .imagen_fondo{
        margin-left: -150%;
   }

    .contenido_principal_dos{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 411px) {
    .imagen_grande{
        margin-left: -20%;
    }

    .imagen_frente{
        margin-left: 200px;
    }

}