*{
    margin: 0;
    padding: 0;
}

div{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.fondo1, .fondo5{
    background-image: url(img/imagen1.jpg);
}

.fondo2, .fondo4, .fondo3{
    background-image: url(img/imagen2.jpg);
}

section{
    width: 100%;
    height: 200px;
}

h2{ 
    font-size: 4em;
    text-align: center;
}
p{
    font-variant: 2em;
    text-align: center;
}