---
const classGeneral =
    "carga w-8 h-8 flex justify-center items-center border-2 border-gray-500 rounded-full text-gray-500 font-bold text-lg";
const classLinea = "linea w-16 h-1 bg-gray-500";


---

<div class:list={[classGeneral]}>
    <p>1</p>
</div>

<div class:list={[classLinea]}></div>

<div class:list={[classGeneral]}>
    <p>2</p>
</div>

<div class:list={[classLinea]}></div>

<div class:list={[classGeneral]}>
    <p>3</p>
</div>

<div class:list={[classLinea]}></div>

<div class:list={[classGeneral]}>
    <p>4</p>
</div>

<style>
    div {
        transition: all 1s;
    }
</style>
